<!-- NAVBAR CON MENÚS -->
<nav class="main-navbar d-flex justify-content-between align-items-center">
<div class="d-flex justify-content-between align-items-center w-100" style="padding: 8px 20px;">
<div class="d-flex">
    <a 
        *ngFor="let option of optionsMenu; trackBy: trackByOptionId" 
        [routerLink]="option.url" 
        routerLinkActive="active" 
        class="nav-link mx-2 d-none d-sm-flex"
    >
        <svg class="me-1" width="16" height="16" fill="currentColor">
            <use [attr.xlink:href]="'./assets/icons/bootstrap-icons.svg#' + option.icon" />
        </svg>
        {{ option.description || option.name }}
    </a>
</div>

<div class="nav-tools d-flex align-items-center">
    <div class="tool-dropdown position-relative">
        <a class="nav-tool-btn" href="#" (click)="toggleToolbox($event)">
            <svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#gear-fill" />
            </svg>
        </a>
        
        <div class="floating-toolbox" [class.show]="showToolbox" >
            <button class="toolbox-btn" (click)="openCalculator()">
                <svg class="me-2" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="./assets/icons/bootstrap-icons.svg#calculator-fill" />
                </svg>
            </button>
        </div>
    </div>
</div>
</div>
</nav>